* {
    font-family: Hack Nerd Font;
    font-size: 20px;
    border: none;
}
    
window {
    margin: 0px;
    border-radius: 5px;
    border: 2px solid cyan;
    background-color: rgba(26,30,36,0.4);
}

#input {
    margin: 5px;
    border-radius: 16px;
    border: 2px solid rgba(26,30,36,0.2);
    background-color: rgba(0,255,255,0.3);
    color: white;
}

#input:focus {
      box-shadow: rgba(0,255,255,0.4) 0px 0px 0px 2px, rgba(0,255,255, 0.65) 0px 4px 6px -1px, rgba(0,255,255, 0.08) 0px 1px 0px inset;
  }


#inner-box {
    margin: 5px;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#outer-box {
    margin: 0px;
    border: 3px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#scroll {
    margin: 5px;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#text {
    color: white;
    margin: 5px;
    border: 0px solid cyan;
}

#entry:nth-child(even){
    background-color: rgba(26,30,36,0.2);
}

#entry:selected {
    margin: 0px;
    border-radius: 9px;
    border: 1px solid cyan;
    background-color: rgba(0,255,255,0.5);
}

#entry:selected #text {
    font-weight: bold;
    /*color: #8ed8fa;*/
}

#entry.activatable #text {
      color: #5aa05a;
  }

#entry > * {
  font-weight: bold;
  color: cyan;
}

#expander-box {
    margin: 0px;
    border-radius: 9px;
    /*color: red;*/
    border: 1px solid cyan;
    background-color: rgba(26,30,36,0.01);
}

#text:selected {
    margin: 5px;
    color: white;
    /*border: 2px solid red;*/
    /*background-color: red;*/
}
